body {
    background-color: floralwhite;
    font-family: 'Courier New', Courier, monospace;
}
img {
    height: 200px;
}
h3 {
    text-decoration: underline;
}
h4 {
    text-decoration: underline;
}
