body {
    background-image: url(https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/vintage-vignette-tan-paper-texture-1-780x1267.jpg);
    align-items: center;
}

h1 {
    color: firebrick;
}

img {
    width: 400px;
}

div {
    text-align: center;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: mediumturquoise; 
    padding: 50px;
    border: 40px;
    border-style: groove;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}
